rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{gameId} {
      allow read: if true;
      allow write: if true;
    }
    match /settings/{docId} {
      allow read: if true;
      allow write: if true;
    }
    match /gameImages/{docId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
